/* src/App.css */

.navbar {
  font-family: "Georgia", serif;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.home-page .nav-link {
  color: #fff; /* White text for dark background on Home page */
}

.about-page .nav-link {
  color: #ffffff; /* Dark text for soft yellow background on About page */
}

.features-page .nav-link {
  color: #ffffff; /* Dark text for light blue background on Features page */
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #ff00b3; /* Change color on hover */
}